POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST_PORT=
DATABASE_URL=postgres://USER:PASSWORD@localhost:5433/DBNAME?sslmode=disable
GTFS_RT_VEHICLE_POSITIONS_URL=
GTFS_RT_API_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-west-2
S3_RAW_BUCKET=viduldasan-transit-raw-usw2