# Python 
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Secrets 
.env

# GTFS zips, data dumps - can be large, reproducable by re-downloading 
data/

# MacOS
.DS_Store

# IDE configs 
.idea/

# CLaude files 
CLAUDE.*