# Python 
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Secrets 
.env
.env.example 
.gitignore

# GTFS zips, data dumps - can be large, reproducable by re-downloading 
data/

# MacOS
.DS_Store

# IDE configs 
.idea/
